
*{
  background-color: #FFE2C0;
  font-family: 'Oswald', sans-serif;
}

h1{
  justify-content: center;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-bottom: 15px solid #FDFFC0;
}

p{
  font-family: 'Open Sans', sans-serif;
}

.pic{
  width: 375px;
  height: 250px;
  border-radius: 100%;
  padding: 25px;
}

.flexx{
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.picc{
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.fflexx{
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  border-bottom: 15px solid #FDFFC0;
}

@media screen and (max-width: 768px){
  .title{ flex-wrap: wrap;
  }
  .flexx{ flex-wrap: wrap; padding: 20px;
  }
  .fflexx{ flex-wrap: wrap;
  }
  .picc{ padding: 10px;
  }
}

@media screen and (max-width: 480px){
  .title{ flex-wrap: wrap;
  }
  .flexx{ flex-wrap: wrap; padding: 20px;
  }
  .fflexx{ flex-wrap: wrap;
  }
  .picc{ padding: 10px;
  }
}
